* {
  	margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

body{
  font-family: 'Open Sans', sans-serif;
  background:#D28A69;
}

.wrapper{
  margin: 0 2.5%;
}
.masthead{
  background: url("http://lorempixel.com/1800/1000/cats/") no-repeat center;
  background-size: cover;
  min-height: 15rem;
  line-height: 15rem;
  text-align: center;
  margin-bottom: 2%;
}

p img{
  width: 100%;
}

.mainnav{
  background-color: #9F6950;
  margin-bottom: 2%;
}

.mainnav ul li{
  list-style: none;
  text-align: center;
}

.mainnav ul li a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

.mainnav ul li a:hover{
  color: white;
  background-color: black;
}

.content{
  background-color: #9F6950;
  padding: 1%;
  margin-bottom: 1%;
}

.side{
  background-color: #9F6950;
  padding: 1%;
  margin-bottom: 1%;
}

.footer{
  background-color: #9F6950;
  padding: 1%;
  margin-bottom: 1%;
}

@media screen and (min-width: 35em) and (max-width: 60em){
  .mainnav ul li{
    margin: 1% 0;
    display: inline-block;
    width: 24%;
  }

  .content{
    float: left;
    width: 63%;
  }

  .side{
    float: right;
    width: 35%;
  }

  .footer{
    clear: both;
  }
}

@media screen and (min-width: 60em){

  .masthead{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
  }

  .masthead h1{
    padding-left: 5.3%;
    font-size: 5.2rem;
  }

  .wrapper{
    margin-top: 16rem;
  }


  .mainnav{
    background: url(http://lorempixel.com/300/300/cats/) no-repeat center 95%;
    float: left;
    width: 20%;
    background-size: 95% auto;
    padding-bottom: 20vw;

  }

  .mainnav ul li{
    text-align: left;
    width: 100%;
  }

  .mainnav ul li a{
    padding-left: 15%;
  }

  .content{
    float: left;
    width: 54%;
    margin-left: 1%;
    -webkit-column-count: 2;
  }

  .side{
    float: right;
    width: 24%;
    margin-left: 1%;
  }

  .footer{
    clear: both;
  }
}